{% extends "base/base1.html" %} {%block title%}Dokter{%endblock%} {%block
content%}

<!--================Home Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div
        class="banner_content d-md-flex justify-content-between align-items-center"
      >
        <div class="mb-3 mb-md-0">
          <h2>Dokter MedCare</h2>
          <p>Belding years moveth earth green behold wherein</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Team section start =================-->
<section class="team-area area-padding">
  <div class="container">
    <div class="area-heading row">
      <div class="col-md-5 col-xl-4">
        <h3>
          Dokter<br />
          Berpengalaman MedCare
        </h3>
      </div>
      <div class="col-md-7 col-xl-8">
        <p>
          Land meat winged called subdue without very light in all years sea
          appear midst forth image him third there set. Land meat winged called
          subdue without very light in all years sea appear
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card card-team">
          <img
            class="card-img rounded-0"
            src="{{ url_for('static', filename='img/team/1.jpg') }}"
            alt=""
          />
          <div class="card-team__body text-center">
            <h3><a href="#">Dr. Raditya, Sp.BTKV</a></h3>
            <p>Bedah Toraks, Kardiak, dan Vaskular</p>
            <div class="team-footer d-flex justify-content-between">
              <a class="dn_btn" href=""
                ><i class="ti-mobile"></i>+62 835 365 2365</a
              >
              <ul class="card-team__social">
                <li>
                  <a href="#"><i class="ti-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-twitter-alt"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card card-team">
          <img
            class="card-img rounded-0"
            src="{{ url_for('static', filename='img/team/2.jpg') }}"
            alt=""
          />
          <div class="card-team__body text-center">
            <h3><a href="#">Dr. Vanya, Sp.F</a></h3>
            <p>Forensik</p>
            <div class="team-footer d-flex justify-content-between">
              <a class="dn_btn" href=""
                ><i class="ti-mobile"></i>+62 835 365 2365</a
              >
              <ul class="card-team__social">
                <li>
                  <a href="#"><i class="ti-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-twitter-alt"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card card-team">
          <img
            class="card-img rounded-0"
            src="{{ url_for('static', filename='img/team/3.jpg') }}"
            alt=""
          />
          <div class="card-team__body text-center">
            <h3><a href="#">Dr. Andika, Sp.Onk</a></h3>
            <p>Onkologi (Kanker)</p>
            <div class="team-footer d-flex justify-content-between">
              <a class="dn_btn" href=""
                ><i class="ti-mobile"></i>+62 835 365 2365</a
              >
              <ul class="card-team__social">
                <li>
                  <a href="#"><i class="ti-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-twitter-alt"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ Team section end =================-->

<section class="team-area area-padding">
  <div class="container">
    <div class="area-heading row">
      <div class="col-md-5 col-xl-4">
        <h3>Daftar Dokter-Dokter Medcare<br /></h3>
      </div>
      <div class="col-md-7 col-xl-8">
        <p>Dokter-dokter di MedCare</p>
      </div>
    </div>

    <!-- Tabel -->
    <div class="container my-4">
      <div class="card">
        <div
          class="card-header d-flex align-items-center justify-content-between"
        >
          <h5 class="card-title mb-0">Daftar Dokter</h5>
          <a href="{{ url_for('tambah_dokter') }}" class="btn btn-primary px-4"
            >Tambah Dokter</a
          >
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <!-- Alert Section -->
            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %}
            <div class="container mt-3">
              {% for category, message in messages %}
              <div
                class="alert alert-{{ category }} alert-dismissible fade show"
                role="alert"
              >
                {{ message }}
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
              {% endfor %}
            </div>
            {% endif %} {% endwith %}

            <table class="table table-striped align-middle">
              <thead>
                <tr>
                  <th>ID Dokter</th>
                  <th>Nama Dokter</th>
                  <th>Spesialis</th>
                  <th>Hari</th>
                  <th>Jam_Mulai</th>
                  <th>Jam_Selesai</th>
                  <th>No Telepon</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for dokter in dokters %}
                <tr>
                  <td>{{ dokter.ID_Dokter }}</td>
                  <td>{{ dokter.Nama_Dokter }}</td>
                  <td>{{ dokter.Spesialis }}</td>
                  <td>{{ dokter.Hari }}</td>
                  <td>{{ dokter.Jam_Mulai }}</td>
                  <td>{{ dokter.Jam_Selesai }}</td>
                  <td>{{ dokter.No_Telp }}</td>
                  <td>
                    <a
                      href="{{ url_for('ubah_dokter', ID_Dokter=dokter.ID_Dokter) }}"
                      class="btn btn-secondary btn-sm"
                      >Edit</a
                    >
                    <a
                      href="{{ url_for('hapus_dokter', ID_Dokter=dokter.ID_Dokter) }}"
                      class="btn btn-danger btn-sm"
                      onclick="return confirm('Apakah Anda yakin ingin menghapus data ini?')"
                      >Hapus</a
                    >
                  </td>
                </tr>
                {% endfor %}

                <script>
                  setTimeout(function () {
                    let alerts = document.querySelectorAll(".alert");
                    alerts.forEach((alert) => {
                      let bsAlert = new bootstrap.Alert(alert);
                      bsAlert.close();
                    });
                  }, 6000);
                </script>
              </tbody>
            </table>
          </div>
          <!-- Tabel End -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
