{% extends "base/base1.html" %} {%block title%}Rekam Medis{%endblock%} {%block
content%}

<!--================Home Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div
        class="banner_content d-md-flex justify-content-between align-items-center"
      >
        <div class="mb-3 mb-md-0">
          <h2>Rekam Medis MedCare</h2>
          <p>Belding years moveth earth green behold wherein</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!-- Tabel -->
<div class="container my-4">
  <div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="card-title mb-0">Daftar Rekam Medis</h5>
      <a href="{{ url_for('tambah_rm') }}" class="btn btn-primary px-4">Tambah Rekam Medis</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">

            <!-- Alert Section -->
            {% with messages = get_flashed_messages(with_categories=true) %} {% if
              messages %}
              <div class="container mt-3">
                {% for category, message in messages %}
                <div
                  class="alert alert-{{ category }} alert-dismissible fade show"
                  role="alert"
                >
                  {{ message }}
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
                {% endfor %}
              </div>
              {% endif %} {% endwith %}

        <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th>ID Rekam Medis</th>
        <th>ID Pasien</th>
        <th>Keluhan</th>
        <th>ID Dokter</th>
        <th>Diagnosa</th>
        <th>ID Poli</th>
        <th>Tanggal Periksa</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for rm in rmrs %}
      <tr>
        <td>{{ rm.ID_RM }}</td>
        <td>{{ rm.ID_Pasien }}</td>
        <td>{{ rm.Keluhan }}</td>
        <td>{{ rm.ID_Dokter }}</td>
        <td>{{ rm.Diagnosa }}</td>
        <td>{{ rm.ID_Poli }}</td>
        <td>{{ rm.Tgl_Periksa }}</td>
        <td>
          <a href="{{ url_for('ubah_rm', ID_RM=rm.ID_RM) }}" class="btn btn-secondary btn-sm">Edit</a>
          <a href="{{ url_for('hapus_rm', ID_RM=rmrs.ID_RM) }}" class="btn btn-danger btn-sm" onclick="return confirm('Apakah Anda yakin ingin menghapus baris ini?')">Hapus</a>
        </td>
      </tr>
      {% endfor %}

      <script>
        setTimeout(function() {
          let alerts = document.querySelectorAll('.alert');
          alerts.forEach(alert => {
            let bsAlert = new bootstrap.Alert(alert);
            bsAlert.close();
          });
        }, 6000);
      </script>

    </tbody>
  </table>
</div>

{% endblock %}
    </div>
  </div>
</div>
