{% extends "base/base1.html" %} {% block title %}Tambah Rekam
MedisObat{%endblock%} {%block content%}
<div
  class="container d-flex justify-content-center align-items-center"
  style="min-height: 80vh"
>
  <div class="col-md-8">
    <div class="card shadow-sm border-0 rounded-3">
      <div class="card-header bg-light">
        <h4 class="fw-bold text-dark">Tambah Rekam Medis Obat</h4>
      </div>
      <div class="card-body">
        <form action="{{ url_for('tambah_rm_obat') }}" method="POST">
          <div class="mb-3">
            <label for="id_rmo" class="form-label">ID Rekam Medis Obat:</label>
            <input
              type="text"
              id="id_rmo"
              name="ID_RM_Obat"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="id_rm" class="form-label">ID Rekam Medis:</label>
            <select id="id_rm" name="ID_RM" class="form-control" required>
              <option value="" disabled selected>Pilih ID Rekam Medis</option>
              {% for rm in rekam_medis %}
              <option value="{{ rm.ID_RM }}">{{ rm.ID_RM }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="id_obat" class="form-label">Pilih Obat:</label>
            <select id="id_obat" name="ID_Obat" class="form-control" required>
              <option value="" disabled selected>Pilih Obat</option>
              {% for obat in obat_list %}
              <!-- Tampilkan nama_obat, tetapi value-nya ID_Obat -->
              <option value="{{ obat.ID_Obat }}">{{ obat.Nama_Obat }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="d-flex justify-content-end gap-2">
            <a
              href="{{ url_for('RM_Obat') }}"
              class="btn btn-outline-primary fw-bold"
              >Cancel</a
            >
            <button type="submit" class="btn btn-primary">
              Tambahkan Rekam Medis Obat
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
